<settings>
    <profiles>
        <profile>
            <id>publish</id>
<!--            <distributionManagement>-->
<!--                <snapshotRepository>-->
<!--                    <id>ossrh</id>-->
<!--                    <url>https://s01.oss.sonatype.org/content/repositories/snapshots</url>-->
<!--                </snapshotRepository>-->
<!--                <repository>-->
<!--                    <id>ossrh</id>-->
<!--                    <url>https://s01.oss.sonatype.org/service/local/staging/deploy/maven2/</url>-->
<!--                </repository>-->
<!--            </distributionManagement>-->
            <distributionManagement>
                <repository>
                    <id>github</id>
                    <name>GitHub OWNER Apache Maven Packages</name>
                    <url>https://maven.pkg.github.com/3dwardCh3nG/spring-openai</url>
                </repository>
            </distributionManagement>
            <build>
                <plugin>
                    <groupId>org.apache.maven.plugins</groupId>
                    <artifactId>maven-gpg-plugin</artifactId>
                    <version>3.1.0</version>
                    <executions>
                        <execution>
                            <id>default-sign</id>
                            <phase>verify</phase>
                            <goals>
                                <goal>sign</goal>
                            </goals>
                            <configuration>
                                <keyname>${ env.GPG_KEY_NAME }</keyname>
                                <passphraseServerId>${ env.GPG_SECRET_KEY_PASSWORD }</passphraseServerId>
                                <gpgArguments>
                                    <arg>--pinentry-mode</arg>
                                    <arg>loopback</arg>
                                </gpgArguments>
                            </configuration>
                        </execution>
                    </executions>
                </plugin>
            </build>
        </profile>
    </profiles>
    <servers>
        <server>
            <id>github</id>
            <username>${env.GITHUB_ACTOR}</username>
            <password>${env.GITHUB_TOKEN}</password>
        </server>
        <server>
            <id>ossrh</id>
            <username>${env.OSSRH_USERNAME}</username>
            <password>${env.OSSRH_PASSWORD}</password>
        </server>
    </servers>
</settings>
