<settings>
    <profiles>
        <profile>
            <id>publish</id>
<!--            <distributionManagement>-->
<!--                <snapshotRepository>-->
<!--                    <id>ossrh</id>-->
<!--                    <url>https://s01.oss.sonatype.org/content/repositories/snapshots</url>-->
<!--                </snapshotRepository>-->
<!--                <repository>-->
<!--                    <id>ossrh</id>-->
<!--                    <url>https://s01.oss.sonatype.org/service/local/staging/deploy/maven2/</url>-->
<!--                </repository>-->
<!--            </distributionManagement>-->
            <properties>
                <altSnapshotDeploymentRepository>${env.DEPLOYMENT_REPOSITORY_ID}::${env.SNAPSHOT_DEPLOYMENT_REPOSITORY_URL}</altSnapshotDeploymentRepository>
                <altReleaseDeploymentRepository>${env.DEPLOYMENT_REPOSITORY_ID}::${env.RELEASE_DEPLOYMENT_REPOSITORY_URL}</altReleaseDeploymentRepository>
            </properties>
        </profile>
    </profiles>
    <servers>
        <server>
            <id>github</id>
            <username>${env.GITHUB_ACTOR}</username>
            <password>${env.GITHUB_TOKEN}</password>
        </server>
        <server>
            <id>ossrh</id>
            <username>${env.OSSRH_USERNAME}</username>
            <password>${env.OSSRH_PASSWORD}</password>
        </server>
    </servers>
</settings>
